@import 'sanitize.css/lib/sanitize'

:root
  font-family adelle
  -webkit-font-smoothing antialiased

* + *
  margin-top 1rem

.u-margins-off > * + *
  margin-top 0

.u-color-inherit
  color inherit

.u-text-center
  text-align center

body
  background #fffff2